require("superfast/<%= $.type %>");
<% if ($.files) $.files.forEach(function(f) { %>
require(<%= JSON.stringify("./" + f) %>);<% }); %>

setTimeout(function() {
	if (typeof process.send === "function") {
		process.send("READY");
	}
}, 5*1000);
